<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h2>Liste des patients</h2>
            </div>
            <div class="container">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-md btn-block">Dossier medical</button>
                    <button type="button" class="btn btn-info btn-md btn-block">Fiche anomalie</button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="data-table-selection" class="table table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric" data-identifier="true">N°</th>
                            <th data-column-id="Nom">Nom</th>
                            <th data-column-id="Prenom">Prenom</th>
                            <th data-column-id="NumTel">Num tel</th>
                            <th data-column-id="DateIns">Date inscription</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10238</td>
                            <td>Benbelkacem</td>
                            <td>Sonia</td>
                            <td>0665987421</td>
                            <td>21/03/2014</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>