<div class="mini-charts">
    <div class="row">
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                    <div class="chart stats-bar"></div>
                    <div class="count">
                        <small>Total des Devis pris en charge</small>
                        <h2>987,459</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-lightgreen">
                <div class="clearfix">
                    <div class="chart stats-bar-2"></div>
                    <div class="count">
                        <small>Total des Devis non pris en charge</small>
                        <h2>356,785</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-orange">
                <div class="clearfix">
                    <div class="chart stats-line"></div>
                    <div class="count">
                        <small>Total du montant des factures réglée ce mois</small>
                        <h2>458,778 DZD</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-bluegray">
                <div class="clearfix">
                    <div class="chart stats-line-2"></div>
                    <div class="count">
                        <small>Total commandes en attente</small>
                        <h2>23,856</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3"></div>
    </div>
</div>
<!-- Basic -->
<div class="block-header">
    <h2>Annonces et informations : </h2>

    <ul class="actions">
        <li>
            <a href="">
                <i class="zmdi zmdi-trending-up"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="zmdi zmdi-check-all"></i>
            </a>
        </li>
        <li class="dropdown">
            <a href="" data-toggle="dropdown">
                <i class="zmdi zmdi-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="">Refresh</a>
                </li>
                <li>
                    <a href="">Manage Widgets</a>
                </li>
                <li>
                    <a href="">Widgets Settings</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h2>Nouveau mode de paiement <small>Un nouveau mode de paiement est accepté...</small></h2>

                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" aria-expanded="false">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="card-body card-padding">
                Nous acceptons désormais les modes de paiement electroniques : m-payment et e-payment, ils seront intégré au niveau du systéme la semaine prochaine<br /> Une formation est prévue le 23/06/2016.
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-header ch-alt">
                <h2>Réglement intérieur mis à jour !<small>Télécharger le nouveau réglement</small></h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-refresh-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-download"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Change Date Range</a>
                            </li>
                            <li>
                                <a href="">Change Graph Type</a>
                            </li>
                            <li>
                                <a href="">Other Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="card-body card-padding">
               Le réglement intérieur a été mis à jour, veillez télécharger le nouveau réglement et le lire attentivement.
            </div>
        </div>
    </div>
</div>