<aside id="sidebar" class="sidebar c-overflow">
    <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="profile-info">
                {{fullname}}

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href=""><i class="zmdi zmdi-account"></i> Voir le profil</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Parametres de confidentialite</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Parametres</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Deconnection</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">

        <li><a href="index.html"><i class="zmdi zmdi-home"></i>Acceuil</a></li>
        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> Gestion des RDV</a>

            <ul>
                <li><a href="textual-menu.html">Medecin</a></li>
                <li><a href="image-logo.html">Stomathérapeute</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-account-o zmdi-hc-fw"></i> Gestion des patients</a>

            <ul>
                <li><a href="">Liste patients</a></li>
                <li><a href="">Fiche anomalie</a></li>
            </ul>
        </li>
    </ul>
</aside>