<!-- contenu -->
<div class="container">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bgm-cyan">
                <h2>DEVIS</h2>


            </div>

            <div class="card-body card-padding" *ngIf="devis" >



                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="nom" class="control-label">NOM : </label>
                        <label id="nom">{{devis.patient.nom}}</label>
                    </div>
                    <div class="form-group">
                        <label for="prenom" class="control-label">PRENOM : </label>
                        <label id="prenom">{{devis.patient.prenom}}</label>
                    </div>
                    <div class="form-group">
                        <label for="id-devis" class="control-label">N° DEVIS : </label>
                        <label id="id-devis">{{devis.idDevis}}</label>
                    </div>

                    <div class="form-group">
                        <label for="type" class="control-label">TYPE DEVIS : </label>
                        <label id="type">{{devis.modePayment}}</label>
                    </div>
                    <div class="form-group">
                        <label for="date1" class="control-label">DATE CREATION : </label>
                        <label id="date1">{{devis.datePrescription}}</label>
                    </div>

                    <div class="form-group">
                        <label for="date2" class="control-label">DATE EXPIRATION : </label>
                        <label id="date2">{{devis.dureValidation}}</label>
                    </div>



                    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->





                    <div *ngIf="devis.listeLigneDevis" >
                        <div class="card">
                            <div class="card-header">
                                <h2>LISTE DES PRODUITS </h2>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th>CODE PRODUIT</th>
                                            <th>DESIGNATION</th>
                                            <th>QUANTITE</th>
                                            <th>PRIX</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="#ligneDevis of devis.listeLigneDevis" >
                                            <td>{{ligneDevis.produit.idProduit}}</td>
                                            <td>{{ligneDevis.produit.libelle}}</td>
                                            <td> {{ligneDevis.quantite}} </td>
                                            <td> {{ligneDevis.produit.prixUnitaire}} </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <label *ngIf="devis.listeLigneDevis" >PRIX TOTAL : {{prixTotalDevis()}}</label>



                </form>




            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bgm-cyan">
                <h2>ORDONNANCE</h2>


            </div>

            <div class="card-body card-padding" *ngIf="ordonance" >


                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="nom" class="control-label">NOM : </label>
                        <label id="nom">{{ordonance.patient.nom}}</label>
                    </div>
                    <div class="form-group">
                        <label for="prenom" class="control-label">PRENOM : </label>
                        <label id="prenom">{{ordonance.patient.prenom}}</label>
                    </div>




                    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->



                    <div>
                        <div class="card">
                            <div class="card-header">
                                <h2>LISTE DES PRODUITS </h2>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th>CODE PRODUIT</th>
                                            <th>DESIGNATION</th>
                                            <th>FREQUENCE UTILISATION</th>


                                        </tr>
                                    </thead>
                                    <tbody *ngIf="ordonance.lignesOrdonance" >
                                        <tr *ngFor="#ligneOrdonance of ordonance.lignesOrdonance" >
                                            <td>{{ligneOrdonance.produit.idProduit}}</td>
                                            <td>{{ligneOrdonance.produit.libelle}}</td>
                                            <td>{{ligneOrdonance.frequenceUtilisation}}/jr</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>






                </form>

            </div>
        </div>


    </div>
</div>
<div class="container">
    <div class="col-md-10"></div> <button class="btn btn-info" type="submit">VOIR COMMANDE</button></div>