<!-- contenu -->
<div class="container">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bgm-cyan">
                <h2>DEVIS</h2>


            </div>

            <div class="card-body card-padding">



                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="nom" class="control-label">NOM : </label>
                        <label id="nom">BENBELKACEM</label>
                    </div>
                    <div class="form-group">
                        <label for="prenom" class="control-label">PRENOM : </label>
                        <label id="prenom">SONIA</label>
                    </div>
                    <div class="form-group">
                        <label for="id-devis" class="control-label">N° DEVIS : </label>
                        <label id="id-devis">1022695</label>
                    </div>

                    <div class="form-group">
                        <label for="type" class="control-label">TYPE DEVIS : </label>
                        <label id="type">PRIS EN CHARGE</label>
                    </div>
                    <div class="form-group">
                        <label for="date1" class="control-label">DATE CREATION : </label>
                        <label id="date1">15.04.2016</label>
                    </div>

                    <div class="form-group">
                        <label for="date2" class="control-label">DATE EXPIRATION : </label>
                        <label id="date2">21.04.2016</label>
                    </div>



                    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->





                    <div>
                        <div class="card">
                            <div class="card-header">
                                <h2>LISTE DES PRODUITS </h2>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th>CODE PRODUIT</th>
                                            <th>DESIGNATION</th>
                                            <th>QUANTITE</th>
                                            <th>PRIX</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>poche1</td>
                                            <td>20</td>
                                            <td>350</td>

                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>poche2</td>
                                            <td>20</td>
                                            <td>350</td>

                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>poche3</td>
                                            <td>20</td>
                                            <td>350</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <label>PRIX TOTAL :1050 DA</label>



                </form>




            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bgm-cyan">
                <h2>ORDONNANCE</h2>


            </div>

            <div class="card-body card-padding">


                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="nom" class="control-label">NOM : </label>
                        <label id="nom">BENBELKACEM</label>
                    </div>
                    <div class="form-group">
                        <label for="prenom" class="control-label">PRENOM : </label>
                        <label id="prenom">SONIA</label>
                    </div>




                    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->



                    <div>
                        <div class="card">
                            <div class="card-header">
                                <h2>LISTE DES PRODUITS </h2>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th>CODE PRODUIT</th>
                                            <th>DESIGNATION</th>
                                            <th>FREQUENCE UTILISATION</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>poche1</td>
                                            <td>2/jr</td>


                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>poche2</td>
                                            <td>5/mois</td>


                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>poche3</td>
                                            <td>1/jr</td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>






                </form>

            </div>
        </div>


    </div>
</div>
<div class="container">
    <div class="col-md-10"></div> <button class="btn btn-info" type="submit">VOIR COMMANDE</button></div>