<!-- TABLE -->
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h2>ORGANISMES</h2>
            </div>


            <div class="row"><label>      </label></div>

            <div class="table-responsive">
                <table id="data-table-selection" class="table table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric" data-identifier="true">N° ORGANISME</th>
                            <th data-column-id="nom">NOM</th>
                            <th data-column-id="adresse">ADRESSE</th>
                            <th data-column-id="num">NUMTEL</th>
                            <th data-column-id="email">EMAIL</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10238</td>
                            <td>ESI</td>
                            <td>35 rue abas turki</td>
                            <td>021569874</td>
                            <td>cs_benbelkacem@esi.dz</td>

                        </tr>
                        <tr>
                            <td>10239</td>
                            <td>ESI</td>
                            <td>35 rue abas turki</td>
                            <td>021569874</td>
                            <td>cs_benbelkacem@esi.dz</td>
                        </tr>
                        <tr>
                            <td>10240</td>
                            <td>ESI</td>
                            <td>35 rue abas turki</td>
                            <td>021569874</td>
                            <td>cs_benbelkacem@esi.dz</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>