<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h2>COMMANDES</h2>
            </div>


            <div class="row"><label>      </label></div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <button class="btn btn-default" type="submit" (click)="exportCsv()">CSV</button>
                <label>      </label>
                <button class="btn btn-default" type="submit" (click)="exportPdf()">PDF</button>
                <label>      </label>
                <button class="btn btn-primary" type="submit" (click)="imprimer()">IMPRIMER</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2"><button class="btn btn-success" type="submit" data-toggle="modal" data-target="#creation" (click)="createCommande()">IMPORTER</button></div>

            <div class="row"><label>      </label></div>
            <div class="row"><label>      </label></div>
            <div class="row"><label>      </label></div>
            <div class="table-responsive" *ngIf="commandes" >
                <table id="commandesTable" class="table table-striped data-table-selection commandes">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric" data-identifier="true">N° COMMANDE</th>
                            <th data-column-id="orga">ORGANISME</th>
                            <th data-column-id="id-client">N° CLIENT</th>
                            <th data-column-id="nom">NOM</th>
                            <th data-column-id="prenom">PRENOM</th>
                            <th data-column-id="date">DATE</th>
                            <th data-column-id="montant">MONTANT</th>
                            <th data-column-id="etat">ETAT</th>
                        </tr>
                    </thead>
                    <tbody  >
                        <tr *ngFor="#commande of commandes" >
                            <td>{{commande.idCommande}}</td>
                            <td>{{commande.organisme.nom}}</td>
                            <td>{{commande.devis.patient.idPatient}}</td>
                            <td>{{commande.devis.patient.nom}}</td>
                            <td>{{commande.devis.patient.prenom}}</td>
                            <td>{{commande.date}}</td>
                            <td>3569</td>
                            <td>{{commande.etat}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="creation" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myLargeModalLabel">GENERER UNE NOUVELLE COMMANDE</h4></center>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="nom" class="col-sm-2 control-label">NOM</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nom" placeholder="Selectionnez le patient.. " [value]="patient.nom" typeaheadautocomplete [objectsDataSet]="patients | async" [labelAtt]="'nom'" [name]="'nomsPatients'" [handleFunction]="selectPatient" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prenom" class="col-sm-2 control-label">PRENOM</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="prenom" placeholder="Selectionnez le patient.. " [value]="patient.prenom" typeaheadautocomplete [objectsDataSet]="patients | async" [labelAtt]="'prenom'" [name]="'prenomsPatients'" [handleFunction]="selectPatient" autocomplete="off">
                        </div>
                    </div>
                    

                    <div class="form-group" *ngIf="organismes">
                        <label for="orga" class="col-sm-2 control-label">ORGANISME</label>
                        <div class="col-sm-10">

                            <select #sel class="form-control" id="orga"  (change)="selectOrganisme(sel.value)" >
                                        <option *ngFor="#organisme of organismes" [value]="organisme | json">{{organisme.nom}}</option>
                            </select>
                        </div>
                    </div>



                    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->


                        <div class="col-md-12"  *ngIf="devisPatient">
                            <div class="card">
                                <div class="card-header">
                                    <h2>SELECTION DU DEVIS</h2>
                                </div>

                                <div class="table-responsive">
                                    <table id="devisTable" class="table table-striped data-table-selection">
                                        <thead>
                                            <tr>
                                                <th data-column-id="id" data-type="numeric" data-identifier="true">N°DEVIS</th>
                                                <th data-column-id="date">DATE</th>
                                                <th data-column-id="date-exp">DATE EXPIRATION</th>

                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr *ngFor="#devis of devisPatient" >
                                                <td>{{devis.idDevis}}</td>
                                                <td>{{displayDate(devis.datePrescription)}}</td>
                                                <td>{{displayDate(devis.dureValidation)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    
                    <label *ngIf="devisPatient" >PRIX TOTAL :1050 DA</label>

                    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

                </form>



                <div class="modal-footer">


                    <div class="col-md-offset-8"></div>
                    <button type="button" class="btn btn-primary" (click)="test()">IMPORTER</button>
                </div>
            </div>
        </div>
    </div>
</div>