<!-- TABLE -->
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h2>DEVIS</h2>
            </div>


            <div class="row"><label>      </label></div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <button class="btn btn-default" type="submit">CSV</button>
                <label>      </label>
                <button class="btn btn-default" type="submit">PDF</button>
                <label>      </label>
                <button class="btn btn-primary" type="submit">IMPRIMER</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2"><button class="btn btn-success" type="submit" data-toggle="modal" data-target="#creation">CREER</button></div>

            <div class="row"><label>      </label></div>
            <div class="row"><label>      </label></div>
            <div class="row"><label>      </label></div>
            <div class="table-responsive">
                <table id="data-table-selection" class="table table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric" data-identifier="true">N° DEVIS</th>
                            <th data-column-id="date-crea">DATE CREATION</th>
                            <th data-column-id="id-client">N° CLIENT</th>
                            <th data-column-id="nom">NOM</th>
                            <th data-column-id="prenom">PRENOM</th>
                            <th data-column-id="date-exp">DATE EXPIRATION</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10238</td>
                            <td>14.10.2013</td>
                            <td>23658</td>
                            <td>BNEBLKACEM </td>
                            <td>SONIA</td>
                            <td>20.10.2013</td>
                        </tr>
                        <tr>
                            <td>10239</td>
                            <td>14.10.2013</td>
                            <td>23658</td>
                            <td>BNEBLKACEM </td>
                            <td>SONIA</td>
                            <td>20.10.2013</td>
                        </tr>
                        <tr>
                            <td>10240</td>
                            <td>14.10.2013</td>
                            <td>23658</td>
                            <td>BNEBLKACEM </td>
                            <td>SONIA</td>
                            <td>20.10.2013</td>
                        </tr>
                        <tr>
                            <td>10241</td>
                            <td>14.10.2013</td>
                            <td>23658</td>
                            <td>BNEBLKACEM </td>
                            <td>SONIA</td>
                            <td>20.10.2013</td>
                        </tr>
                        <tr>
                            <td>10242</td>
                            <td>14.10.2013</td>
                            <td>23658</td>
                            <td>BNEBLKACEM </td>
                            <td>SONIA</td>
                            <td>20.10.2013</td>
                        </tr>
                        <tr>
                            <td>10243</td>
                            <td>14.10.2013</td>
                            <td>23658</td>
                            <td>BNEBLKACEM </td>
                            <td>SONIA</td>
                            <td>20.10.2013</td>
                        </tr>
                        <tr>
                            <td>10244</td>
                            <td>14.10.2013</td>
                            <td>23658</td>
                            <td>BNEBLKACEM </td>
                            <td>SONIA</td>
                            <td>20.10.2013</td>
                        </tr>
                        <tr>
                            <td>10245</td>
                            <td>14.10.2013</td>
                            <td>23658</td>
                            <td>BNEBLKACEM </td>
                            <td>SONIA</td>
                            <td>20.10.2013</td>
                        </tr>
                        <tr>
                            <td>10246</td>
                            <td>14.10.2013</td>
                            <td>23658</td>
                            <td>BNEBLKACEM </td>
                            <td>SONIA</td>
                            <td>20.10.2013</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="creation" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myLargeModalLabel">GENERER UN NOUVEAU DEVIS</h4></center>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="nom" class="col-sm-2 control-label">NOM</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nom" placeholder="Nom du patient... " [value]="patient.nom" typeaheadautocomplete [objectsDataSet]="patients | async" [labelAtt]="'nom'" [name]="'nomsPatients'" [handleFunction]="selectPatient" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prenom" class="col-sm-2 control-label">PRENOM</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="prenom" placeholder="Prénom du patient... " [value]="patient.prenom" typeaheadautocomplete [objectsDataSet]="patients | async" [labelAtt]="'prenom'" [name]="'prenomsPatients'" [handleFunction]="selectPatient" autocomplete="off">
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">TYPE DEVIS</label>
                        <div class="col-sm-10">

                            <select class="form-control" id="type">
                                        <option>PRIS EN CHARGE</option>
                                        <option>NON PRIS EN CHARGE</option>
                                    </select>
                        </div>
                    </div>
                   

                    <div class="form-group">
                        <label for="date2" class="col-sm-2 control-label">DATE EXPIRATION</label>
                        <div class="col-sm-10">
                            <input type='text' class="form-control date-picker" id="date2" placeholder="Cliquer ici...">
                        </div>
                    </div>



                    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

                    

                        <div class="col-md-12" *ngIf="newDevis.listeLigneDevis" >
                            <div class="card">
                                <div class="card-header">
                                    <h2>LISTE DES PRODUITS </h2>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>

                                                <th>CODE PRODUIT</th>
                                                <th>DESIGNATION</th>
                                                <th>QUANTITE</th>
                                                <th>PRIX</th>
                                                <th>AUGMENTER</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="#ligneDevis of newDevis.listeLigneDevis" >
                                                <td>{{ligneDevis.produit.idProduit}}</td>
                                                <td>{{ligneDevis.produit.libelle}}</td>
                                                <td>{{ligneDevis.quantite}}</td>
                                                <td>{{ligneDevis.produit.prixUnitaire}}</td>
                                                <td> <button (click)="changeQuantiteLigneDevis(ligneDevis,'+')"><center><i  class="zmdi zmdi-plus zmdi-hc-fw"></i></center></button></td>
                                                <td> <button (click)="changeQuantiteLigneDevis(ligneDevis,'-')"><center><i  class="zmdi zmdi-minus zmdi-hc-fw"></i></center></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    
                    <label *ngIf="newDevis.listeLigneDevis">PRIX TOTAL : {{newDevisTotal()}} </label>

                    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

                </form>



                <div class="modal-footer">


                    <div class="col-md-offset-8"></div>
                    <button type="button" class="btn btn-primary">CREER</button>
                </div>
            </div>
        </div>
    </div>
</div>