<!-- TABLE -->
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">


        <div class="card">
            <div class="card-header">
                <h2>FACTURES</h2>
            </div>

            <div class="table-responsive">
                <table id="data-table-command" class="table table-striped bootgrid-table">
                    <thead>
                        <tr>
                            <th data-identifier="true" data-column-id="id" data-type="numeric">N° FACTURE</th>
                            <th data-column-id="organisme">ORGANISME</th>
                            <th data-column-id="date">DATE</th>
                            <th data-column-id="montant">MONTANT</th>
                            <th data-column-id="commandes" data-formatter="link">LISTE COMMANDES</th>
                            <th data-column-id="etat">ETAT</th>
                            <th data-column-id="action" data-formatter="actions" data-sortable="false">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ESI</td>
                            <td>14.10.2013</td>
                            <td>956874365</td>
                            <td></td>
                            <td>Confirmee</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>ESI</td>
                            <td>14.10.2013</td>
                            <td>956874365</td>
                            <td></td>
                            <td>Confirmee</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>