<!-- TABLE -->
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h2>HISTORIQUE VISITES </h2>
            </div>

            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="nom">NOM</th>
                            <th data-column-id="prenom">PRENOM</th>
                            <th data-column-id="date-visite">DATE VISITE</th>
                            <th data-column-id="observation">OBSERVATIONS</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BENBELKACEM</td>
                            <td>SONIA</td>
                            <td>14.10.2013</td>
                            <td>pas de pblem</td>

                        </tr>
                        <tr>
                            <td>CHAIBI </td>
                            <td>ASMA</td>
                            <td>19.10.2013</td>
                            <td>explication sur l'utilisation des poches...</td>
                        </tr>
                        <tr>
                            <td>BENBELKACEM</td>
                            <td>SONIA</td>
                            <td>14.10.2013</td>
                            <td>pas de pblem</td>

                        </tr>
                        <tr>
                            <td>CHAIBI </td>
                            <td>ASMA</td>
                            <td>19.10.2013</td>
                            <td>explication sur l'utilisation des poches...</td>
                        </tr>
                        <tr>
                            <td>BENBELKACEM</td>
                            <td>SONIA</td>
                            <td>14.10.2013</td>
                            <td>pas de pblem</td>

                        </tr>
                        <tr>
                            <td>CHAIBI </td>
                            <td>ASMA</td>
                            <td>19.10.2013</td>
                            <td>explication sur l'utilisation des poches...</td>
                        </tr>
                        <tr>
                            <td>BENBELKACEM</td>
                            <td>SONIA</td>
                            <td>14.10.2013</td>
                            <td>pas de pblem</td>

                        </tr>
                        <tr>
                            <td>CHAIBI </td>
                            <td>ASMA</td>
                            <td>19.10.2013</td>
                            <td>explication sur l'utilisation des poches...</td>
                        </tr>
                        <tr>
                            <td>BENBELKACEM</td>
                            <td>SONIA</td>
                            <td>14.10.2013</td>
                            <td>pas de pblem</td>

                        </tr>
                        <tr>
                            <td>CHAIBI </td>
                            <td>ASMA</td>
                            <td>19.10.2013</td>
                            <td>explication sur l'utilisation des poches...</td>
                        </tr>
                        <tr>
                            <td>BENBELKACEM</td>
                            <td>SONIA</td>
                            <td>14.10.2013</td>
                            <td>pas de pblem</td>

                        </tr>
                        <tr>
                            <td>CHAIBI </td>
                            <td>ASMA</td>
                            <td>19.10.2013</td>
                            <td>explication sur l'utilisation des poches...</td>
                        </tr>
                        <tr>
                            <td>BENBELKACEM</td>
                            <td>SONIA</td>
                            <td>14.10.2013</td>
                            <td>pas de pblem</td>

                        </tr>
                        <tr>
                            <td>CHAIBI </td>
                            <td>ASMA</td>
                            <td>19.10.2013</td>
                            <td>explication sur l'utilisation des poches...</td>
                        </tr>
                        <tr>
                            <td>BENBELKACEM</td>
                            <td>SONIA</td>
                            <td>14.10.2013</td>
                            <td>pas de pblem</td>

                        </tr>
                        <tr>
                            <td>CHAIBI </td>
                            <td>ASMA</td>
                            <td>19.10.2013</td>
                            <td>explication sur l'utilisation des poches...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>